<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://news.sohu.com/upload/ky/resloader.js"></script>

<div class="loading">
	<svg class="icon-loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64" fill="black">
	  <circle transform="translate(8 0)" cx="0" cy="32" r="0"> 
	    <animate attributeName="r" values="0; 8; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0"
	      keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
	  </circle>
	  <circle transform="translate(28 0)" cx="0" cy="32" r="0"> 
	    <animate attributeName="r" values="0; 8; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.3"
	      keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
	  </circle>
	  <circle transform="translate(48 0)" cx="0" cy="32" r="0"> 
	    <animate attributeName="r" values="0; 8; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.6"
	      keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
	  </circle>
	</svg>

	<div class="pace">
		<div class="pace-progress"></div>
	</div>
</div>

<script type="text/javascript">
	/**
	 * resloader曝露两个全局对象：
	 * resLoader
	 * pageUtil.	pageUtil新增了boolean属性，rem=true，会改变html的font-size
	 */
	pageUtil.rem = true;

	var loader = new resLoader({
	    resources: [
			"http://news.sohu.com/upload/yursile/dushue/img/shop11.png",
	    ],
	    onStart: function(total) {},
	    onProgress: function(current, total) {
	      var percent = parseInt(current / total * 100) + '%';
	      document.querySelector('.pace-progress').innerHTML=percent;
	    },
	    onComplete: function(total) {
	     
	      // initView();
	      setTimeout(function(){
	      	 document.querySelector('.loading').style.display="none";
	      },3000);
	    }
  	});
  	loader.start();
</script>